@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap");

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: "Inter", sans-serif !important;
}

code {
  font-family: "Inter", sans-serif !important;
}
header.App-header p {
  color: #2caffe;
  font-size: 25px;
  cursor: pointer;
  margin: 0;
  padding: 15px 20px;
}
/************** tabs css *********************/
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.input-form label {
  color: #b7b2b2;
}

.tab-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
  flex: 1;
  width: 75%;
  /* min-height: 680px; */
}

.tab-buttons {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.outer-circle {
  width: 11em;
  height: 11em;
  border-radius: 50%;
  border: 12px solid #c7d6dc;
  background-color: white;
  position: relative;
  box-shadow: 0 6px 7px rgba(0, 0, 0, 0.25);
  margin: 0 !important;
  cursor: pointer;
}
.inner-circle {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border: 10px solid #1674da;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #cbebff;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center !important;
}
.outer-circle.active .inner-circle {
  background-color: #67afef;
}

.outer-circle.active span {
  color: #fff;
}
.inner-circle span {
  color: #7d7676;
  font-size: 16px;
  padding: 10px;
  line-height: 21px;
  text-align: center;
  font-weight: 500;
}
.tab-content {
  width: 100%;
  margin: 0 auto;
  /* height: 100vh; */
}
.Table-head th {
  font-weight: 700;
  font-size: 18px;
  background: #a0dbff !important;
}
.Table-row td {
  font-size: 18px;
}
.about-page {
  float: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.title {
  float: left;
  width: 100%;
  padding: 15px 0px;
  background: #cbebff;
}
section.about-section h2 {
  font-size: 48px;
  font-weight: 400;
  margin: 15px 0px;
}

section.about-section {
  width: 100%;
  float: left;
  padding: 20px 0px;
}
.title h1 {
  font-size: 48px;
}
.tableheader .MuiBox-root {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: "Antonio", sans-serif;
  font-size: 36px;
  font-weight: 700;
  padding: 40px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tablebody .MuiBox-root {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 70px 10px;
}
.tablebody .MuiBox-root h6 {
  font-family: "Antonio", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 122%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab3Table .tablebody {
  margin-top: 8px;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.tab3Table .tablebody .MuiBox-root,
.tab3Table .tableheader .MuiBox-root,
.tab2Table .tablebody .MuiBox-root,
.tab2Table .tableheader .MuiBox-root {
  border-radius: 0px;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c2c2c;
  border-top: 3px solid white;
  padding: 12px 24px;
}

.footerrow a {
  color: #00aeef;
  text-decoration: none;
  font-weight: 400;
  font-size: 22px !important;
}

.input-form .MuiInputBase-input {
  width: 100%;
  padding: 0.5em;
  border: 0px;
  background-size: 20px;
  font-size: 17px;
  background-color: rgba(0, 0, 0, 0.05);
  height: 42px;
}
.meow {
  width: 50%;
  margin: 0 auto;
}
.chart-heading {
  color: #333 !important;
}
.about-row {
  background: #cbebff;
}
header.App-header label {
    color:#2caffe;
    margin-bottom: 10px;
        font-size: 18px;
}


.accordion-wrapper {
    width: 98%;
}

.accordion-item {
  border-bottom: 1px solid #ddd;
}

.accordion-header {
    padding: 12px;
    font-weight: bold;
    cursor: pointer;
    background: #cbebff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px solid #1674da;
        color: #7d7676;
}

.accordion-header.open {
    background: #67AFEF;
    color: #fff;
}
.accordion-content {
  padding: 12px;
  background: #fff;
}

/* Arrow styles */
.arrow {
  transition: transform 0.3s ease;
}

.arrow.right {
  transform: rotate(0deg);
}

.arrow.down {
  transform: rotate(90deg);
}



/**************** responsive css ************/

@media screen and (max-width: 1200px) {
  .meow {
  width: 70%;
  margin: 0 auto;
}
.tab-wrapper{
   width: 90%;
}

.tablebody .MuiBox-root h6 {
  font-size: 30px;
  line-height: normal;
}
.tablebody .MuiBox-root {
    padding: 40px 10px;
}
.tableheader .MuiBox-root{
  font-size: 24px;
}
}

@media screen and (max-width: 992px) {
  .meow {
  width: 80%;
  margin: 0 auto;
}
.tab-wrapper{
   width: 90%;
}
.tab-buttons {
    gap: 20px;
}
.nomargin {
    margin-left: 0;
    margin-right: 0;
}
}

@media screen and (max-width: 768px) {
  .about-row h1 {
    font-size: 30px;
}
  .tab-content h4 {
    font-size: 27px;
}
  .meow {
  width: 100%;
  margin: 0 auto;
}
.tab-wrapper{
   width: 100%;
}

.tab-content{
  margin:0px 20px;
          width: 95%;
}
.table-heading {
    font-size: 19px;
}
    .profit-graph {
        max-width: 80% !important;
    }
    .tablebody .MuiBox-root h6 {
  font-size: 25px;
  line-height: normal;
}
.nopadding {
    padding: 0px;
}
}

@media screen and (max-width: 480px) {

    .table-heading {
        font-size: 18px !important;
        padding: 13px;
    }
    .profit-graph {
        max-width: 100% !important;
    }
}