@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap");
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: "Inter", sans-serif !important;
  background: #fcfcfc;
}

code {
  font-family: "Inter", sans-serif !important;
}
header.App-header p {
  color: #2caffe;
  font-size: 25px;
  cursor: pointer;
  margin: 0;
  padding: 15px 20px 5px;
}
/************** tabs css *********************/

/* .comparisonTable {
  display: none;
} */
.comparisonTable {
  width: 800px;
  margin: 20px auto;
}
.serachedProduct h4 {
  margin: 0px 0px 30px 0px;
  text-align: left;
}
.serachedProduct {
  width: 600px;
  margin: 20px auto 0px;
  border: 1px solid #ddd;
  padding: 30px;
  border-radius: 20px;
}

.paygap_card,
.taxavoidance_card {
  width: 600px;
  margin: 20px auto 0px;
}
svg.compareIcon {
  font-size: 30px;
  margin-right: 5px;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.input-form label {
  color: #b7b2b2;
}

.tab-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
  flex: 1;
  width: 75%;
  position: relative;
  /* min-height: 680px; */
}

.tab-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}
.customWidthCeo {
  width: 70%;
}
.outer-circle {
  width: 12em;
  /* background-color: #dbf2ff; */
  position: relative;
  margin: 0 !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  padding: 0px;
}

.outer-circle.active {
  background-color: #298de1;
}

.outer-circle.active span {
  color: #fff;
}
.outer-circle span {
  color: #2e4353;
  font-size: 23px;
  padding: 10px;
  line-height: 21px;
  text-align: center;
  font-weight: 500;
}
span.tabsIcons {
  font-size: 70px;
  color: #298de1;
}
.tab-content {
  width: 100%;
  margin: 0 auto;
  /* height: 100vh; */
}
.Table-head th {
  font-weight: 700;
  font-size: 18px;
  background: #a0dbff !important;
}
.Table-row td {
  font-size: 18px;
}
.about-page {
  float: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.title {
  float: left;
  width: 100%;
  padding: 15px 0px;
  background: #cbebff;
}
section.about-section h2 {
  font-size: 48px;
  font-weight: 400;
  margin: 15px 0px;
}

section.about-section {
  width: 100%;
  float: left;
  padding: 20px 0px;
}
.title h1 {
  font-size: 48px;
}
.tableheader .MuiBox-root {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: "Antonio", sans-serif;
  font-size: 36px;
  font-weight: 700;
  padding: 40px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tablebody .MuiBox-root {
  padding: 40px 10px;
}
.nopadding {
  padding-bottom: 0px !important;
}
.tablebody .MuiBox-root h6 {
  font-family: "Antonio", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 122%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.tablebody .MuiBox-root h6 span {
  font-size: 30px;
}
.tab3Table .tablebody {
  margin-top: 8px;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.tab3Table .tablebody .MuiBox-root,
.tab3Table .tableheader .MuiBox-root,
.tab2Table .tablebody .MuiBox-root,
.tab2Table .tableheader .MuiBox-root {
  border-radius: 0px;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c2c2c;
  border-top: 3px solid white;
  padding: 12px 24px;
}

.footerrow a {
  color: #00aeef;
  text-decoration: none;
  font-weight: 400;
  font-size: 22px !important;
}

.input-form .MuiInputBase-input {
  width: 100%;
  padding: 0.5em;
  border: 0px;
  background-size: 20px;
  font-size: 17px;
  background-color: rgba(0, 0, 0, 0.05);
  height: 42px;
}
.meow {
  width: 700px;
  margin: 0 auto;
  top: 0;
  left: 0px;
  right: 0px;
  margin: 0 auto;
}
.chart-heading {
  color: #333 !important;
}
.about-row {
  background: #cbebff;
}
header.App-header label {
  color: #2caffe;
  font-size: 16px;
  padding: 0px 10px 10px 10px;
}

.accordion-wrapper {
  width: 98%;
}

.accordion-item {
  margin-bottom: 23px;
}
.accordion-item:last-child {
  margin-bottom: 0;
}
.accordion-header {
  padding: 12px;
  font-weight: bold;
  cursor: pointer;
  background: #cbebff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 7px solid #1674da;
  color: #7d7676;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

.accordion-header.open {
  background: #67afef;
  color: #fff;
}
.accordion-content {
  padding: 12px;
  background: #fff;
  margin-top: 20px;
}

.accordion-header:before {
  content: "";
  background-color: #fff;
  border: 12px solid #c7d6dc;
  border-radius: 50%;
  box-shadow: 0 6px 7px #00000040;
  cursor: pointer;
  width: 11em;
  position: absolute;
  height: 11em;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -1;
}

.autoinput .MuiOutlinedInput-root {
  padding: 9px;
  min-height: 50px;
  background: #fff;
  box-shadow: 0px 3px 10px 0px rgba(31, 31, 31, 0.08);
  border-radius: 26px;
}
.input-form .MuiInputBase-input {
  height: inherit;
  background-color: transparent;
}
div#mobile-inital-render {
  margin-top: 20px;
}
.mobileCompareGlobalSerach {
  display: flex;
  align-items: center;
}
.customGraphMobile {
  position: relative;
  display: flex;
  align-items: center;
}
.customGraphMobile span {
  font-size: 11px !important;
}
.customGraphMobile::before {
  content: "";
  position: absolute;
  border-left: 1px solid #ccc;
  left: 0;
  width: 65px;
  height: 85px;
  top: -18px;
}

.textleft {
  text-align: left;
}
/**************** responsive css ************/

@media screen and (max-width: 1200px) {
  .meow {
    width: 700px;
    margin: 0 auto;
  }
  .tab-wrapper {
    width: 90%;
  }

  .tablebody .MuiBox-root h6 {
    font-size: 30px;
    line-height: normal;
  }
  .tablebody .MuiBox-root {
    padding: 40px 10px;
  }
  .tableheader .MuiBox-root {
    font-size: 24px;
  }
}

@media screen and (max-width: 992px) {
  .meow {
    width: 615px;
    margin: 0 auto;
  }
  .tab-wrapper {
    width: 90%;
  }
  .tab-buttons {
    gap: 35px;
  }
  .nomargin {
    margin-left: 0;
    margin-right: 0;
  }
  .outer-circle {
    width: 10em;
    height: 9em;
  }
  .inner-circle {
    width: 14em;
    height: 14em;
  }
  .inner-circle span {
    color: #7d7676;
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .customWidthCeo {
    width: 50%;
  }
  .comparisonTable,
  .paygap_card,
  .taxavoidance_card {
    width: 100%;
    margin: 20px auto;
  }
  .tab-buttons.hide {
    display: none;
  }
  .serachedProduct {
    width: 100%;
    padding: 10px;
    margin-top: 0px;
  }
  .accordion-header {
    height: 145px;
    width: 145px;
  }

  .accordion-header:before {
    width: 10em;
    height: 10em;
  }
  .accordion-header span {
    font-size: 15px;
  }
  header.App-header p {
    padding: 0 20px 0px;
  }
  header.App-header label {
    padding: 0px 10px 5px;
  }
  .outer-circle {
    height: auto;
    width: 100%;
    padding: 0px 10px;
  }
  .inner-circle {
    width: 9em;
    height: 9em;
  }
  .tab-buttons {
    gap: 10px;
    width: 100%;
    flex-wrap: nowrap !important;
  }
  .inner-circle span {
    font-size: 15px;
  }
  .outer-circle span {
    font-size: 20px;
  }
  span.tabsIcons {
    font-size: 50px;
  }

  .about-row h1 {
    font-size: 30px;
  }
  .tab-content h4 {
    font-size: 27px;
  }
  .nomargin {
    margin: 0px 0px 10px 0px !important;
  }
  .meow {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: -70px !important;
  }

  .tab-wrapper {
    width: 95%;
    margin: 15px auto;
    margin-top: 90px;
  }
  .tab-content {
    margin: 0px 20px;
    width: 100%;
  }
  .table-heading {
    font-size: 19px;
  }
  .profit-graph {
    max-width: 80% !important;
  }
  .tablebody .MuiBox-root h6 {
    font-size: 25px;
    line-height: normal;
  }
  .nopadding {
    padding: 0px;
    margin: 0px !important;
  }
}

@media screen and (max-width: 480px) {
  .table-heading {
    font-size: 18px !important;
    padding: 13px;
  }
  .profit-graph {
    max-width: 100% !important;
  }
}
